<h4>Escoge tu talla</h4>
<form class="bikini-size-form">
<div style="white-space:nowrap" class="col-xs-6">
  <label class="col-xs-2">Altura:</label>
  <input type="number" class="col-xs-2" id="height" required/>
  <label class="col-xs-2">m</label>
</div>

<div style="white-space:nowrap" class="col-xs-6">
  <label for="id1" class="col-xs-2">Cintura:</label>
  <input type="number" class="col-xs-2" id="waist" required/>
  <label class="col-xs-2">cm</label>
</div>

<div style="white-space:nowrap" class="col-xs-6">
  <label class="col-xs-2">Busto:</label>
  <select class="col-xs-2" id="bust" required>
    <option disabled selected>-Copa-</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
  </select>
</div>

<div style="white-space:nowrap" class="col-xs-6">
  <label class="col-xs-2">Cadera:</label>
  <input type="number" class="col-xs-2" id="hips" required/>
  <label class="col-xs-2">cm</label>
</div>

<div class="col-xs-4 col-xs-offset-4">
  <input type="submit" class="create-custom-bikini bikini-size-btn" value="Talla lista!" />
</div>
</form>