<div id="happy-customers">
  <p class="section-title"> <%= t("happy_customers") %> </p>
  <div class="outer r4x3">
    <div class="inner">
      <% @clients.each do |client| %>
        <div class="little-box">
          <%= image_tag client.img.url(:medium), class: "client-img"%> 
        </div>
      <% end %>
    </div>
  </div>
  <% if current_page?("/") %>
    <p class="clients-gallery"><%= link_to "Ver galería completa", happy_customers_path %></p>
  <% end %>
</div>



