<div id="happy-customers">
  <div class="container">
    <div class="row">
    <p id="panel-title"> <%= t("happy_customers") %> </p>
      <% if @clients == nil %>
        <p> No clients pics </p>
      <% else %>
        <% @clients.each do |client| %>
          <div class="col-sm-4 product-wrapper">
            <%= image_tag client.img.url(:medium), class: "client-img"%>
          </div>
        <% end %>
      <% end %>
    </div>
    <% if current_page?("/") %>
      <p id="clients-gallery"><%= link_to "Ver galería completa", happy_customers_path %></p>
    <% end %>
  </div> 
</div>