@import 'colors.scss';

.swimwear{
  stroke:#1d1d1b;
  stroke-miterlimit:10;
}

.pallette-color{
  height: 25px; 
  width: 25px;
  border: 0.5px solid #EEE;
}

.main-pallette-item{
  height: 100%;
  width: 100%;
  border: 0.5px solid #EEE;
}

.main-pallette-description{
  font-size: 8px;
  text-align: center;
}

.custom-bikini{
  margin-top: 20px;
  height: 100%;
  border-radius: 0.7%;
}

.custom-bikini-wrapper{
  height: 600px;
}

.top-pic, .bottom-pic {
    float: left;
    width: 16.666%;
    height: 16.666%;
    padding: 5px;
}
svg{
  width:100%;
  height: auto;
}