$crush-blue: #73afe0;
$crush-gray: #696769;
$light-gray: #F9F9F9;
$silver: #DDDDDD;

.container.product-spacer{
  padding-top: 5em;
}

.product-img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.btn.add-to-cart{
  border-radius: 0;
  color: white;
  background-color: $crush-blue;
  border: 0.5em solid $crush-blue;
  margin-top: 30%;
  &:hover{
    background-color: $light-gray;
    color: $crush-blue;
    font-weight: bold;
  }
}

.site-product{
  height: 31em;
  width: 26em;
  border: 0.5em solid $light-gray ;
  position: relative;
}

.size{
  font-size: 1.5em;
}

.show-delivery{
  font-size: 1em;
  color: $silver;
  text-align: center;
}

.product-details-index{
  position: absolute;
  z-index: 3;
  height: 5em;
  width: 100%;
  background-color: $light-gray;
  top:84%;
  >p{
    text-align: center;
    color: $crush-blue;
  };
  >p#price-index{
    font-weight: bold;
    margin-top: -3%;
  };
  >p#title-index{
    margin-top: 1%;
  };
  >p.discounted{
    text-decoration: line-through;
  }
}

// #sale{
//   height: 3em;
//   width: 3em;
//   border-radius: 50%;
//   background-color: $crush-blue;
//   color: white;
//   text-align: center;
//   >p{
//     margin-top: -0.5em;
//   }
// }











