$crush-blue: #73afe0;
$crush-gray: #696769;
$light-gray: #F9F9F9;
$silver: #DDDDDD;

.container.product-spacer{
  padding-top: 7em;
}

.product-img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: relative;
}

.btn.add-to-cart{
  border-radius: 0;
  color: white;
  background-color: $crush-blue;
  border: 0.5em solid $crush-blue;
  margin-top: 30%;
  &:hover{
    background-color: $light-gray;
    color: $crush-blue;
    font-weight: bold;
  }
}

.site-product{
  height: 31em;
  width: 26em;
  border: 0.5em solid $light-gray ;
  position: relative;
}

.size{
  font-size: 1.5em;
}

.show-delivery{
  font-size: 1em;
  color: $silver;
  text-align: center;
}

.product-details-index{
  position: absolute;
  z-index: 3;
  height: 5em;
  width: 100%;
  background-color: $light-gray;
  top:84%;
  >p{
    text-align: center;
    color: $crush-blue;
  };
  >p#price-index{
    font-weight: bold;
    margin-top: -3%;
  };
  >p#title-index{
    margin-top: 1%;
  };
  >p.discount{
    text-decoration: line-through;
  }
}

.soldout-banner {
  width: 0; 
  height: 0; 
  border-left: 60px solid transparent;
  border-right: 0px solid transparent;
  border-top: 60px solid $crush-blue;
  position: absolute;
  z-index: 5;
  right: 0;
  opacity: 0.6;
}


#soldout{
  color:white;
  position: absolute;
  z-index: 6;
  right: 0;
  text-align: right;
  font-weight: bold;
  margin-top: 1em;
  -webkit-transform: rotate(45deg);
}











