*{
  font-family: Century Gothic, sans-serif;
}

html, body {
  height: 100%;
  width: 100%
}
.navbar-menu{
  background: white;
  height: 6em;
  border: 0;
}

.container-fluid{
  margin-top: 0.5em;
}

.menu-links{
  margin-top: 0.8em;
  background: white;
}

.navbar-default .navbar-nav>li>a {
    color: #4BBFEA;
}

img[src="assets/sites/logo-crush.jpg"]{
  width: auto;
  height: 5em;
}

.main-panel{
  height: 45em;
  width: 100%;
  background: url("/assets/sites/sanblas.jpg") no-repeat;
  margin-top: -7em;
  background-size: cover;
}

.overlay{ 
  width: 100%;
  height: 100%;
  background: black; 
  opacity: 0.10;
}

.headlines{
  bottom: 35%;
  transform: translateY(-50%);
  position: relative;
  width: 100%;
  color: white;
  z-index: 2;
  width: 60%;
  margin: auto;
  #panel-title {
    font: {
      size: 3.5em;
      weight: bold;
    };
    text-align: center;
  };
  #panel-slogan{
    margin-top: -1em;
    font-size: 1.5em;
    width: 100%;
     text-align: right;
  }
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  // margin: 0 auto -60px;
}

footer{
  text-align:center;
  width: 100%;
  bottom: 0;
  height: 5em;
  background-color: #F9F9F9;
  p{
  color: #777;
  margin-top: 1.8em;
  }
}

@media (max-width: 767px) {
  .menu-links{
    text-align: right;
    width: 11em;
    float: right;
    border:0;
  };
  div#bs-example-navbar-collapse-1 {
    border: 0;
  };
  button.navbar-toggle {
    margin-top: 1.4em;
  };
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #4BBFEA;
  }
}