*{
  font-family: Century Gothic, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

$crush-blue: #428bca;

.navbar-menu{
  background: white;
  height: 6em;
  border-color: $crush-blue;
}

.container-fluid{
  margin-top: 0.5em;
}

.menu-links{
  margin-top: 0.8em;
  background: white;
}

.navbar-default{
 .navbar-nav>li>a {
    color: $crush-blue;
  };
  .navbar-nav>li>a>div>i{
    font-size: 1.5em;
    margin-top: 0.25em;
  };
  .navbar-nav>li>a>div{
    border: 0.2em solid $crush-blue;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    text-align: center;
  };
}

a.navbar-media{
  margin-top: -0.5em;
}

img[src="/assets/sites/logo-crush.jpg"]{
  width: auto;
  height: 5em;
}

.main-panel{
  height: 45em;
  width: 100%;
  background: url("/assets/sites/sanblas.jpg") no-repeat;
  margin-top: -7em;
  background-size: cover;
}

.overlay{ 
  width: 100%;
  height: 100%;
  background: black; 
  opacity: 0.10;
}

.headlines{
  bottom: 35%;
  transform: translateY(-50%);
  position: relative;
  width: 100%;
  color: white;
  z-index: 2;
  width: 60%;
  margin: auto;
  #panel-title {
    font: {
      size: 3.5em;
      weight: bold;
    };
    text-align: center;
  };
  #panel-slogan{
    margin-top: -1em;
    font-size: 1.5em;
    width: 100%;
     text-align: right;
  }
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  // margin: 0 auto -60px;
}
.container.spacer{
  margin-top: 5em;
}

footer{
  text-align:center;
  width: 100%;
  bottom: 0;
  height: 5em;
  background-color: #F9F9F9;
  p{
  color: #777;
  margin-top: 1.8em;
  }
}
