$crush-blue: #73afe0;
$crush-gray: #696769;
$light-gray: #F9F9F9;

*{
  font-family: Century Gothic, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.navbar-menu{
  background: white;
  height: 6em;
  border-color: $crush-blue;
}

.container-fluid{
  margin-top: 0.5em;
}

.menu-links{
  margin-top: 0.8em;
  background: white;
}

.navbar-default{
 .navbar-nav>li>a {
    color: $crush-blue;
  };
  .navbar-nav>li>a>div>i{
    font-size: 1.5em;
    margin-top: 0.25em;
  };
  .navbar-nav>li>a>div{
    border: 0.2em solid $crush-blue;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    text-align: center;
  };
}

a.navbar-media{
  margin-top: -0.5em;
}

img[src="/assets/sites/logo-crush.jpg"]{
  width: auto;
  height: 5em;
}

.main-panel{
  height: 45em;
  width: 100%;
  background: url("/assets/sites/sanblas.jpg") no-repeat;
  margin-top: -7em;
  background-size: cover;
}

.overlay{ 
  width: 100%;
  height: 100%;
  background: black; 
  opacity: 0.10;
}

.headlines{
  bottom: 35%;
  transform: translateY(-50%);
  position: relative;
  width: 100%;
  color: white;
  z-index: 2;
  width: 60%;
  margin: auto;
  #panel-title {
    font: {
      size: 3.5em;
      weight: bold;
    };
    text-align: center;
  };
  #panel-slogan{
    margin-top: -1em;
    font-size: 1.5em;
    width: 100%;
     text-align: right;
  }
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  // margin: 0 auto -60px;
}
.container.spacer{
  margin-top: 5em;
}

#value-proposition{
  height: auto;
  width: 100%;
  text-align: center;
  background-color:$crush-blue;
  margin-top: 5em;
  p.value-proposition-text{
    padding: 0.8em 1.5em 4em 1.5em ;
    text-align: justify;
    color: $light-gray;
  }
  p.value-proposition-title{
    text-align: left;
    font:{
      weight: bold;
      size: 2.3em;
    };
    color: $light-gray;
    text-align: center;
  }
  .fa{
    margin: 1em 0 0.3em 0;
    font-size: 4em;
    color: $light-gray;
  }
}

#contact-us{
  height: auto;
  width: 100%;
  text-align: center;
  background-color:$crush-blue;
  margin-top: 5em;
}

.scrollup {
  width: 1.8em;
  height: 1.8em;
  opacity: 0.5;
  position: fixed;
  bottom: 5em;
  right: 100px;  
  display: none;
  text-indent: -9999px;
  background: url('icon_top.png') no-repeat;
  background-size: 100%;
}

#location{
  margin-top: 2em;
  >.container>.row>#where{
    color: $crush-blue;
    font-size: 5em;
  }
}
.address{
  margin-top: 10em;
  >p{
    color: $crush-gray;
    font-size: 1.22em;
  };
}

#googleMap{
  height: 20em;
  width: 32em;
  margin-top: 2em;
}

footer{
  text-align:center;
  width: 100%;
  bottom: 0;
  height: 5em;
  background-color: $light-gray;
  p{
  color: #777;
  margin-top: 1.8em;
  }
}
