<div class="container spacer">
  <div class="row">
    <% unless @products.empty? %>
      <% @products.each do |product| %>
        <div class="col-sm-4">
          <a href="<%= product_path(product.id) %>">
            <div class="site-product">
              <div class="product-details-index"> 
                <p id="title-index"><%= product.title %></p>          
                <p id="price-index">$<%= product.price.to_i %></p>
              </div>
              <%= image_tag product.img.url(:medium)%>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>