<div id="contact-us">
  <div class="container">
    <div class="row">
      <p id="panel-title"><%= t("contact_us") %> </p>
      <div class="col-sm-6 email-cell">
        <p id="contact-info"><i class="fa fa-envelope"></i> info@crushbyac.com</p>
        <p id="contact-info"><i class="fa fa-phone"></i> +507 6884-9577 </p>
      </div>
      <div class="col-sm-6">
        <%= render partial: 'contact_forms/new'  %>
      </div>
    </div>
  </div>
</div>