<div id="location">
  <div class="container">
   <div class="row">
    <p id="panel-title"><%= t("where") %> </p>
   </div> 
    <div class="row">
      <div id="googleMap">
      </div>
    <div class="row">
      <div class="address">
          <p><%= t("address") %></p>
          <p><%= t("city") %></p>
        </div>
      </div>
    </div>
  </div>
</div>