<div id="location">
  <div class="container">
   <div class="row">
    <p id="panel-title"><%= t("where") %> </p>
   </div> 
    <div class="row">
      <div class="col-sm-6 col-sm-offset-1" id="googleMap">
      </div>
      <div class="col-sm-5 address">
      <p><%= t("address") %></p>
      <p><%= t("city") %></p>
      </div>
    </div>
  </div>
</div>