<div class="main-panel">
  <div class="overlay">
  </div>
  <div class="headlines">
    <p id="panel-title"> <%= t("main_panel_title") %> </p>
    <br>
    <p id="panel-slogan"> <%= t("main_panel_slogan") %></p>
  </div>
</div>
