<nav class="navbar navbar-default navbar-fixed-top navbar-menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img src="/assets/sites/logo-crush.jpg" alt="Crush logo"></a>
    </div> 
    <div class="collapse navbar-collapse" ="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right menu-links">
        <li><a href="https://instagram.com/crushbyac" target="_blank" class="navbar-media"><div><i class="fa fa-instagram"></i></div></i></a></li>
        <li><a href="https://facebook.com/crushbyac" target="_blank" class="navbar-media"><div><i class="fa fa-facebook"></i></div></a></li>
        <li><a href="https://twitter.com/crushbyac" target="_blank" class="navbar-media"><div><i class="fa fa-twitter"></i></div></a></li>
        <li><a href="#"><%= t("why") %></a></li>
         <li><a href="#"> <%= t("contact") %></a></li>
        <li><a href="#"><i class="fa fa-shopping-cart"></i> <%= t("cart") %></a></li>
      </ul>
     </div>
    </div>
  </div>
</nav>
