<nav class="navbar navbar-default navbar-fixed-top navbar-menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img src="/assets/sites/logo-crush.jpg" alt="Crush logo"></a>
    </div> 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right menu-links">
        <li>
          <a href="https://instagram.com/crushbyac" target="_blank" class="navbar-media">
            <div><i class="fa fa-instagram"></i></div>
          </a>
        </li>
        <li>
          <a href="https://facebook.com/crushbyac" target="_blank" class="navbar-media">
            <div><i class="fa fa-facebook"></i></div>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/crushbyac" target="_blank" class="navbar-media">
            <div><i class="fa fa-twitter"></i></div>
          </a>
        </li>
        <% if current_page?("/") %>
          <li><a href="#value-proposition"><%= t("why_crush") %></a></li>
          <li><a href="#location"> <%= t("location") %></a></li>
          <li><a href="#contact-us"> <%= t("contact") %></a></li>
        <% else %>
          <li><a href="mailto:info@crushbyac.com" target="_blank"> <%= t("contact") %></a></li>
        <% end %>
<!--         <li><a href="#"><i class="fa fa-shopping-cart"></i> <t("cart") %></a></li> -->
      </ul>
     </div>
    </div>
  </div>
</nav>
