<div class="container spacer">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 faq-terms">
      <h3><%= t("faq") %></h3>
      <p> A continuación puede ver las preguntas más frecuentes sobre CRUSH By Alexandra Chen. Si no encuentras respuesta a tus preguntas, por favor contáctenos a info@crushbyac.com. Te responderemos en 24 - 72 horas :)
      </p>
      <h4>ENVÍOS</h4>
      <h5> ¿El envió es seguro?</h5>
      <p>Pedidos Internacionales: Son enviados por correo nacional. Puede tardar de 15 a 30 días. En caso de que el envío no llegue pasado de este periodo, contáctenos de inmediato para reponer su pedido.
      Para Panamá: Todos nuestros envíos son seguros; los pedidos domésticos dentro de la ciudad son hechos por mensajería privada; otros pedidos son enviados por Uno Express. </p>
      <h5>¿Cuánto cuesta el envío?</h5>
      <p> Los pedidos superiores a $100 son gratuitos. De otra manera, el costo variará según su pedido.</p>
 
      <h4></h4>
      <h5></h5>
      <p></p>
      <h4>¿Cómo puedo pagar?</h4>
      <h5>¿Qué métodos de pago están disponibles?</h5>
      <p> Internacionales: PayPal y Western Union.
      Panamá: transferencias bancarias, efectivo, tarjetas Clave, Visa, Master Card, American Express o Diners Club y PayPal.</p>
      <h5>¿Se puede pagar contra reembolso?</h5>
      <p>Cómo la mayoría de nuestras piezas son únicas o a la medida, no aceptamos abonos ni reservas. Usted podrá visitar nuestra tienda física y probarse los modelos, sin compromiso.  Los pedidos personalizados o reservaciones deberán ser cancelados antes de la entrega.</p>

      <h4>AJUSTES Y REENVÍOS</h4>
      <h5>¿Qué pasa si mi modelo no se ajusta a la perfección?</h5>
      <p>  CRUSH BY AC confecciona todos sus productos de forma personalizada. Si tu pedido no te queda puedes devolverlo dentro de un plazo de 10 días después de haberlo recibido y se lo repondremos en un plazo máximo de 30 días, siempre y cuando la pieza esté en el mismo estado que lo entregamos. También puedes hacer una cita a nuestro showroom <%= link_to "aquí", contact_path %>.</p>

      <h4>INFORMACIÓN GENERAL</h4>
      <h5>¿Cómo lavo mi traje de baño adecuadamente?</h5>
      <p>Lávelo siempre con agua dulce después de usarlo y a mano, cuanto antes mejor.</p>
      <p>Jabón - Se recomienda lavar el bañador con jabón de manos suave o detergente para prendas delicadas.</p> 
      <p> Secado - Resista la tentación de exprimirlo hasta que desprenda la última gota de agua. Si lo hace, puede dañar sus fibras. Colgando el traje de baño (especialmente por las tiras) puede dañarlo también. En su lugar, estire el traje en una toalla, enrolle la toalla y presione suavemente. Finalmente, deje su traje de baño sobre una superficie plana al aire libre para que se seque. Evite el secado al sol, pues puede dañar el color. Asegúrese de que el bañador queda completamente seco antes de guardarlo.</p> 
      <p>Alterne tus trajes de baño - Los trajes de baño necesitan un día completo para volver de nuevo a su posición habitual. Si usted está de vacaciones o utiliza el traje de baño muy menudo, es esencial disponer de más de uno, de modo que cada bañador tenga 24 horas para recuperarse (más el tiempo de lavado y secado completo).</p> 
      <p>  Siempre agua fría - El agua caliente no va bien para los trajes de baño. Nunca lave su traje de baño en agua caliente.</p> 
      <p>Al sentarse, no olvide nunca la toalla - Cada vez que se siente en el suelo junto a la piscina, en un banco de madera, o en cualquier otra superficie rugosa, trate de sentarse sobre una toalla, esos momentos improvisados ​​pueden perjudicar y rasgar el material.</p>
    </div>
  </div>
</div>