<div class="container spacer">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 faq-terms">
      <h3><%= t("terms") %></h3>
      <p> Lea detenidamente los siguientes términos y condiciones de CRUSH by Alexandra Chen. Al realizar una compra o pedido en CRUSH by Alexandra Chen, queda expresamente la aceptación de estos términos y condiciones por parte del CLIENTE. De lo contrario, queda en a su juicio utilizar o no los servicios de CRUSH by Alexandra Chen.</p>
      <p>Todas las imágenes presentadas en cualquiera de nuestras redes sociales por internet presentes por con el logo de CRUSH by Alexandra Chen, son propiedad de CRUSH by Alexandra Chen. </p>
      <p>Las siguientes condiciones son aplicables a todos los contratos, entregas y otros servicios. Por la presente rechazamos expresamente todas las condiciones contradictorias de la otra parte contractual. Estos términos y condiciones pueden cambiar sin previo aviso. Cualquier otro acuerdo tendrá que ser confirmado por nosotros por escrito. </p>

      <h4>DESCRIPCIÓN  DE PRODUCTOS</h4>
      <p>Para evitarte costos adicionales de transporte en cambio de prendas, elije muy bien tu talla, color y diseño deseado, para lo cual adjuntamos las dimensiones de nuestras prendas o confirmamos las que nos hayas proporcionado para los pedidos a la medida. Si el producto ofrecido no es como está descrito, podrá ser devuelto en su condición de nuevo y en su empaque original. Los colores, texturas y dimensiones de los productos y cada detalle del producto,  se presentan con la mayor exactitud posible, sin embargo, la misma depende de la configuración de cada monitor, por lo tanto no es posible garantizar que su pantalla ofrezca kos colores y texturas idénticos. </p>

      <h4>PRECIOS</h4>
      <p>Los precios mostrados u ofrecidos son en dólares americanos. Puede que los mismos varíen de cotización con el tiempo.</p>

      <h4>PEDIDOS</h4>
      <h5>¿Cómo lavo mi traje de baño adecuadamente?</h5>
      <p>Los pedidos se realizan vía whatsapp al +507 6884-9577 o vía email a info@crushbyac.com</p>
      <p>También podrás realizar una cita previa a nuestra oficina por medio de email. Aquí encontrarás nuestra <%=link_to t("location"),location_path %></p>
      <p>Podrás reservar pedidos, siempre y cuando hayas cancelado por banca en línea o en efectivo el precio del mismo.</p>

      <h4>PEDIDOS PERSONALIZADOS</h4>
      <p>Para realizar pedidos a la medida, debes de indicar las tallas o medidas del producto que deseas. El mismo puede tardar de 15 a 30 días hábiles (lunes a viernes) en confección. En caso de que tu producto esté terminado antes, CRUSH notificará el mismo. </p>
      <p>Los pedidos están sujetos a verificación de materiales y posibilidad de confección. Una vez que haya sido aprobado tu pedido, iniciamos la etapa de confección. Los pedidos que requieran elaboración personalizada en tejidos, por ejemplo las molas, puede tardar hasta más de 20 días hábiles adicionales en su confección.</p>
      <p>Cada cambio o ajuste extra a lo acordado tendrá un costo adicional dependiendo del mismo. Se le notificará al CLIENTE el precio del mismo.</p>
      <p>La combinación de colores, telas y forma de los productos personalizados no se repiten 100%. Todas las combinaciones son únicas para garantizarle al cliente productos personalizados sin previo aviso al CLIENTE.</p>
      <p>CRUSH tiene derecho a hacer públicas todas sus confecciones sin previo aviso al CLIENTE, es decir que todas imágenes las piezas personalizadas podrán ser publicadas en todas las redes sociales de internet o físicas. Al menos que haya algún acuerdo o contrato por escrito que muestre lo contrario.</p>

      <h4>PROCESO DE COMPRA Y DESPACHO</h4>
      <p>Su pedido entra en proceso de despacho luego de confirmar el pago a través de banca en línea, pago en efectivo o tarjetas. La entrega está sujeta a disponibilidad de inventario. Luego de las respectivas verificaciones, recibirás un correo electrónico para confirmar el envío de tu producto.</p>
      <p>En caso de que el producto comprado no se encuentre disponible, se podrá, con el consentimiento del CLIENTE, proceder a despachar el resto del pedido y devolver el valor pagado del producto no disponible, sin ningún tipo de interés o rendimiento, consignándolo en la cuenta que el CLIENTE nos indique.</p>

      <h4>ENTREGA Y GASTOS DE ENVÍO</h4>
      <p>Con el fin de hacer una compra segura, nuestras entregas son presenciales en la dirección de domicilio u oficina del CLIENTE o por previa cita en nuestra oficina en el Cangrejo, calle 49A oeste, Edificio Minerva, Local D. Una vez confirmado el pedido y que esté listo para entrega, no nos hacemos responsables en cuanto a la disponibilidad de citas previas pasados 5 días.</p>
      <p>El plazo de entrega estándar es de 5 a 6 días laborales a partir de la recepción o terminación de confección del pedido. Intentaremos enviar el pedido consistente en los productos relacionados en cada confirmación de envío antes de la fecha de entrega que figura en la confirmación en cuestión o bien, si no se especificase ninguna fecha de entrega, en el plazo de 15 días a contar desde la fecha de Confirmación de Envío.</p>
      <p>El tiempo de envío de los pedidos internacionales puede demorar de 3 a 5 semanas en llegar a su destino.</p>
      <p>Si el artículo suministrado cuenta con fallos evidentes de producción o del material, incluyendo un posible daño debido al transporte, por favor, póngase en contacto con nosotros inmediatamente por e-mail o con un mensaje al número +507 6884-9577 con objeto del daño dentro de un plazo máximo de 10 días.</p>
      <p>No obstante, podrían producirse retrasos por cualquier de las siguientes razones:
        <ul>
          <li>Personalización de productos</li> 
          <li>Artículos especializados</li> 
          <li>Circunstancias imprevistas</li> 
          <li>Zona de entrega</li> 
        </ul>
      </p>
      <p>El precio total del transporte se indicará en el resumen de la compra antes de enviar el paquete. </p>

      <h4></h4> 
      <p>En caso de que el CLIENTE no esté satisfecho con su compra, todos los artículos adquiridos en la tienda online y ‘showroom´ CRUSH pueden ser devueltos, con los portes de envío pagados por el CLIENTE, en el plazo de 5 días calendario a partir de la recepción. El estado de la mercancía devuelta debe corresponderse con el uso normal para que la mercancía sea aprobada (como es habitual cuando se prueba en tiendas convencionales) y la mercancía deberá estar aún provista de la etiqueta original y factura de compra. Si la mercancía está dañada debido a un uso más amplio, nos reservamos el derecho a exigir una compensación. </p>
      <p>El departamento de calidad se reserva el derecho a decidir si la garantía se acepta o se rechaza la devolución. El cambio se hará por otra pieza de Crush o una nota de crédito válida por 30 días. No hacemos devoluciones en efectivo. </p>
      <p>CRUSH te garantiza una respuesta definitiva a tu reclamo hasta máximo 30 días calendario después de recibido el producto devuelto. Si en este tiempo no hemos entregado respuesta a tu reclamo, te garantizamos la devolución total del precio del producto.</p>
      
      <h4>PRODUCTOS DAÑADOS O DEFECTUOSOS Y ENTREGAS INCORRECTAS</h4>
      <p>Podrá cambiar sus productos u obtener un reembolso íntegro, en un periodo de máximo 5 días calendario, si dichos productos del pedido se encuentran dañados o presentan defectos una vez recibidos, o si los productos que recibe no son los que solicitó originalmente.</p>
      <h5>Cambio</h5>
      <p>Cuando cambie unos productos dañados o defectuosos o un pedido incorrecto, le enviaremos los artículos de sustitución gratuitamente siempre y cuando nos haya devuelto previamente los productos del pedido en el estado en que los haya recibido.</p>
      <h5>Si devuelve los productos, le recordamos que:</h5>
      <ul>
        <li>Su paquete puede tardar hasta 7 días en llegarnos.</li>
        <li>Los productos devueltos serán tramitados en un plazo de 10 días laborales a partir de la recepción. </li>
        <li>Deberá adoptar medidas de precaución necesarias al embalar el paquete y enviárnoslo de modo que los productos no sufran daños durante el trayecto</li>
        <li>Deberá obtener y conservar el comprobante de correos hasta el momento en que reciba el reembolso o cambio.</li>
      </ul>
    </div>
  </div>
</div>